html, body, #app{ height: 100%; }
body{ 
  margin: 0px;
  background: rgb(251,140,0);
  background: radial-gradient(circle, rgba(251,140,0,0.37532107569590334) 0%, rgba(255,255,255,1) 100%);
}
.item { height: 100%; }
.header { 
  background: rgb(251, 140, 0);
  background: radial-gradient(circle, rgba(251,140,0,1) 0%, rgba(255,204,128,1) 100%);
  color: #fff; padding: 
  10px; text-align: center; 
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
}
.content { 
  background: #FAFAFA;
  margin: 15px 0px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
  box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.7);
}
/* .left-side-bar { background: #94d7c7 }
.right-side-bar { background: #77c7e7 } */
.footer { 
  background: rgb(117,117,117);
  background: radial-gradient(circle, rgba(117,117,117,1) 0%, rgba(33,33,33,1) 100%); 
  color: #fff;
  padding: 30px; 
  text-align: center;     
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
}
